{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "jest": false,
    "expect": false,
    "describe": false,
    "test": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false
  },
  "rules": {
    "no-console": "off"
  }
}
