<% include _header.html %>


<div class="container">

  <% include _search_form.html %>

  <% if (invalidParameters) { %>
    <div class="alert alert-danger">
      <strong>Invalid value for "tags" or "tagmode" input parameters</strong><br><br>
      Tags should be formatted as a comma delimited list containing only letters, commas, and spaces.
      Tag Mode must equal "all" or "any".
    </div>
  <% } %>

  <% if (searchResults) { %>
    <% include _search_results.html %>
  <% } %>

</div>


<% include _footer.html %>
